.header{
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: solid rgb(193, 193, 193) 1px;
  padding-left: 20px;
  z-index: 100;
}

.left_section{
  width: 200px;
  display: flex;
  align-items: center;
}

.icon_menu{
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-right: 30px;
}

.logo{
  width: 150px;
  height: 30px;
  object-fit: cover;
}

.mid_section{
  flex: 1;
  max-width: 600px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  align-items: center;
}

.search_btn,
.voice_btn,
.video_btn,
.noti_btn{
  height: 38px;
  width: 55px;
  margin-right: 10px;
  border: grey solid 1px;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
 
.search_btn .tooltip,
.voice_btn .tooltip,
.video_btn .tooltip,
.noti_btn .tooltip{
  position: absolute;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 12px;
  z-index: 200px;
  white-space: nowrap;
  bottom: -35px;
  pointer-events: none;
  opacity: 0;
}

.search_btn:hover .tooltip,
.voice_btn:hover .tooltip,
.video_btn:hover .tooltip,
.noti_btn:hover .tooltip{
  opacity: 1;
}

.search_icon{
  height: 20px;
  width: 20px;
}

.voice_btn{
  height: 45px;
  width: 45px;
  margin-left: 10px;
  border-radius: 50%;
  border: none;
}

.voice_icon{
  height: 20px;
  width: 20px;
  object-fit: contain;

}

.search_bar{
  flex: 1;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  box-shadow: inset 0px 0px 1px rgb(0,0, 0.05);
  border: grey 1px;
  border-radius: 2px;
  width: 0;
}

.search_bar::placeholder{
  font-size: 17px;
  color: grey;

}

.right_section{
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.video_btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: white;
}

.video_btn:hover{
  background-color: rgb(213, 213, 213);
}

.video_icon{
  width: 25px;
  height: 25px;
}

.noti_btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: relative;
}

.count_noti{
  background-color: red;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 1px 4px;
  font-size: 12px;
  position: absolute;
  top: 7px;
  right: 7px;
}

.noti_btn:hover{
  background-color: rgb(213, 213, 213);
}


.noti_icon{
  width: 25px;
  height: 25px;
}

.avt{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}